<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Du3aaAPI</title>
    <link rel="stylesheet" href="./style/style.min.css">

    <script src="/javascript/dark-mode.js" defer></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body dir="rtl">
    <div class="msg">
        <div class="alert primary">تم إغلاق تطبيق du3aaAPI</div>
    </div>
    <div class="card">
        <div class="paragraph">
            <p>مواقيت الصلاة في دولة الكويت</p>
        </div>

        <% if (typeof prayer !== 'undefined') { %>
            <table id="prayer-table">
                <tr><th colspan="2"><%- prayer.Date %></th></tr>
                <tr><td>الفجر</td><td><%- prayer.Fajr %></td></tr>
                <tr><td>الظهر</td><td><%- prayer.Dhuhr %></td></tr>
                <tr><td>العصر</td><td><%- prayer.Asr %></td></tr>
                <tr><td>المغرب</td><td><%- prayer.Maghrib %></td></tr>
                <tr><td>العشاء</td><td><%- prayer.Isha %></td></tr>
            </table>
        <% } else { %>
            <div class="err">
                <p>الرجاء المحاولة لاحقًا أو أعِد تحميل الصفحة</p>
            </div>
        <% } %>

        <div class="twitter-follow">
            <a href="https://twitter.com/du3aaAPI?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="ar" data-show-count="true">Follow @du3aaAPI</a>
        </div>
        
        <div class="twitter-feed">
            <a class="twitter-timeline" data-lang="ar" data-height="300" href="https://twitter.com/du3aaAPI?ref_src=twsrc%5Etfw">Tweets by du3aaAPI</a>
        </div>
    </div>

</body>
</html>
